{% extends 'layout.jinja2' %}
{% block title %} Web Challenge 1.0 {% endblock %}

{% block content %}
<nav aria-label="breadcrumb t">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Home</a></li>
  </ol>
</nav>
<h1>Web Challenge 1.0</h1>
{% endblock %}